button.popup__button_disabled {
   color: rgb(0 0 0 / .5);
   border: 1px solid rgb(0 0 0 / .5);
   background-color: transparent;
}

button.popup__button_disabled:hover {
   background-color: transparent;
}